.App {
  display: flex;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

p, h1, h3 {
  margin: 10px 0;
  color: #00284D;
}

a {
  text-align: center;
  /* padding: 12px; */
  color: #1890FF;
  text-decoration: underline;
  font-size: 1.063em;
}

.page-container {
  box-sizing: border-box;
  padding: 0 20px;
}

.page-content-wrap {
  /* padding-bottom: 120px; */
}