.App {
  display: flex;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

p, h1, h3 {
  margin: 10px 0;
  color: #00284D;
}

.container {
  padding: 0 100px;
}

.page-content-wrap {
  /* padding-bottom: 120px; */
}