.page-content {
  background-color: #E6F7FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.cards-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}