.page-content {
  background-color: #E6F7FF;
  padding-bottom: 72px;
  border: 1px solid red;
  height: 100%;
}

.cards-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}