.navbar {
  height: 88px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  padding: 0 12px;
}
